.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #764abc;
}

input {
    padding: 10px;
    border: 1px solid #764abc;
    outline: none;
}

button {
    padding: 10px;
    color: #fff;
    background-color: #764abc;
    cursor: pointer;
}
